.title {
    color: white;
    line-height: 1.2;
    &.disable-margin {
        margin: 0px;
        line-height: 1;
    }
}

h1.title {
    font: 700 58px "Museo Sans Cyrl";
    text-transform: uppercase;
}

h3.title {
    font: 300 25px "Museo Sans Cyrl";
}

h5.title {
    font: 700 20px "Museo Sans Cyrl";
}

@media (max-width: 900px) {
    h1.title {
        font-size: 44px;
    }

    h3.title {
        font-size: 18px;
    }
}

@media (max-width: 420px) {
    h1.title {
        font-size: 36px;
    }
}