<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no" />
        <meta name="theme-color" content="#e16e1d" />
    </head>
    <body>
        <div class="app"></div>
    </body>
</html>